p {
border-color: #558B2F;
border-right-style: inset;
border-left-style: outset;
border-right width: 2px;
border-left-width: 2px;
padding: 10px;
color: #4347FE;
background-color: #FFF3B5;
}

.ah {
padding: 10px;
margin: 10px;
border: 0px;
color: #4347FE;
background-color: #FFF3B5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 10px 0px 0px 1px;
border: 5px;
padding: 10px;
color: #FFF3B5;
background-color: #4347FE;
text-align: center;
}

#ul {
padding: 20px;
margin: 10px;
color: #558B2F;
border: 1px; 2px;
border-left-style: outset;
border-left-color: #558B2F;
border-right-style: inset;
border-right-color: #558B2F;
background-color: #FFFDE7;
}

#ul li {
border: 5px;
border-right-style: outset;
border-right-color: #B9FE64;
color: #4347FE;
padding: 3px;
border-bottom: 2px dotted #558B2F;
}

#ol {
margin: 10px;
border: 5px;
border-left-style: inset;
border-left-color: #B9FE64;
border-right-style: outset;
border-right-color: #B9FE64;
color: #4347FE;
background-color: #FFF3B5;
}

#ol li {
margin: 5px
padding: 3px;
border-bottom: 2px dotted #558B2F;
}
