html,
body {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%; 
    margin: 0;
}

.index-p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    gap: 50px;
}

.index-p h1 {
    margin: 2px;
    width: 100%;      
}

.index-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px; 
}

.index-list p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 5px;
    margin: 0px;
    width: 1000px;
    height: 600px;
    background-color: #308A73;
    border-radius: 100px;
    box-shadow: 20px 20px light-grey;
}


.index-list a {
    align-self: center;
    text-decoration: none;
    color: #DDFDEC;
    font-weight: 600;
    font-size: 50px;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #DDFDEC;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

h1,
h2 {
    width: 100%;
    height: 100%;
    border: 4px solid none;
    background-color: #F5182F;
    text-align: center;
    color: #DDFDEC;
    border-radius: 50px;
    padding: 30px;
}

.title-bg {
    width: 100%;
    height: 100%;
}

.list-bg {
    width: 100%;
    height: 100%
    margin: 15px;
    color: #DDFDEC;
    display: flex;
    flex-direction: column;
    border: 0px 20px;
    border-style: solid;
    border-color: #523A1E;
    justify-content: center;
    align-items: center;
    background-color: #308A73;
    padding: 5px;
    list-style-type: none;
    gap: 30px;
    font-size: 30px;
}

.list-bg li {
    flex: 1;
    align-self: self-start;
}

.hp {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%
    border: 50px;
    box-shadow: 5px 5px #523A1E;
    margin: 0;
}

.ah {
    font-size: 25px;
    width: 100%;
    height: 100%
    margin: 0px;
    background-color: #308A73;
    text-align: center;
    color: #DDFDEC;
    text-decoration: none;
    border-left: 15px outset #523A1E;
    border-right: 15px outset #523A1E;
}

.p-bg {
    
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 100%
    padding: 3px;
    background: #308A73;
    color: #DDFDEC;
}
